@charset "utf-8";

/** ================================================
  base style
================================================ */

/**
 *  Font Setting
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@font-face {
  font-family: 'Nanum';
  font-weight: 400;
  src: url("https://cdn.bmf.kr/font/NanumGothic.eot");
  src: url("https://cdn.bmf.kr/font/NanumGothic.eot?#iefix") format("embedded-opentype"),url("https://cdn.bmf.kr/font/NanumGothic.woff") format("woff"),url("https://cdn.bmf.kr/font/NanumGothic.ttf") format("truetype")
}

@font-face {
  font-family: 'NanumBold';
  font-weight: 600;
  src: url("https://cdn.bmf.kr/font/NanumGothicBold.eot");
  src: url("https://cdn.bmf.kr/font/NanumGothicBold.eot?#iefix") format("embedded-opentype"),url("https://cdn.bmf.kr/font/NanumGothicBold.woff") format("woff"),url("https://cdn.bmf.kr/font/NanumGothicBold.ttf") format("truetype")
}

@font-face {
  font-family: 'NanumEB';
  font-weight: 900;
  src: url("https://cdn.bmf.kr/font/NanumGothicExtraBold.eot");
  src: url("https://cdn.bmf.kr/font/NanumGothicExtraBold.eot?#iefix") format("embedded-opentype"),url("https://cdn.bmf.kr/font/NanumGothicExtraBold.woff") format("woff"),url("https://cdn.bmf.kr/font/NanumGothicExtraBold.ttf") format("truetype")
}

@font-face {
  font-family: 'Noto Sans KR Light';
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.bmf.kr/font/notosans/notokr-light.woff2") format("woff2"),url("https://cdn.bmf.kr/font/notosans/notokr-light.woff") format("woff"),url("https://cdn.bmf.kr/font/notosans/notokr-light.otf") format("opentype")
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.bmf.kr/font/notosans/notokr-regular.woff2") format("woff2"),url("https://cdn.bmf.kr/font/notosans/notokr-regular.woff") format("woff"),url("https://cdn.bmf.kr/font/notosans/notokr-regular.otf") format("opentype")
}

@font-face {
  font-family: 'Noto Sans KR Medium';
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.bmf.kr/font/notosans/notokr-medium.woff2") format("woff2"),url("https://cdn.bmf.kr/font/notosans/notokr-medium.woff") format("woff"),url("https://cdn.bmf.kr/font/notosans/notokr-medium.otf") format("opentype")
}

@font-face {
  font-family: 'Noto Sans KR Bold';
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.bmf.kr/font/notosans/notokr-bold.woff2") format("woff2"),url("https://cdn.bmf.kr/font/notosans/notokr-bold.woff") format("woff"),url("https://cdn.bmf.kr/font/notosans/notokr-bold.otf") format("opentype")
}

body {
  font-family: 'Nanum', 'Apple Gothic', 'Malgun Gothic', 'Nanum Gothic', 'Dotum', Arial, sans-serif;
  font-size: 13px; font-weight: normal;
  background: #fff;
  color: #333
}


/**
 *  Style
 */

a {
  color: #666; text-decoration: none;

  &:hover,
  &:focus { 
    color: $color-bm-green;
  }
}


/**
 *  Help Class
 */

.blind {
  visibility: hidden; overflow: hidden;
  position: absolute; top: 0; left: 0;
  width: 1px; height: 1px;
  font-size: 0; line-height: 0;
}

/** ================================================
  layout
================================================ */

.inner-wrapper { 
  margin: 0 auto; width: $main-width;
}

/**
 *  Header
 */

.header-box {
  display: grid;
  grid-template-columns: auto $main-width auto;
  grid-template-rows: $snb-height $header-height $gnb-height;
  grid-template-areas:
    "snb snb snb"
    ". header ."
    "gnb gnb gnb";

  a { display: block; }
  
  // 개발용
  // background: rgba(234,32,123, 0.3);
  // header,
  // .inner-wrapper {
  //   box-shadow: 0 0 10px rgba(234,32,123, 1);
  // }
}

#snb {
  grid-area: snb; border-bottom: 1px solid #e9e9e9;

  .inner-wrapper {
    display: flex;
  }

  a { 
    padding: 0 10px; height: 100%; line-height: ($snb-height - 1px);

    &.on,
    &:hover,
    &:focus {
      .spr-bullet-arrow-down { background-position: -4px -18px; }
    }
  }

  .app-download { margin: 0 auto 0 0; }
  
  .menu { 
    display: flex;

    li {
      position: relative;

      &.cart { font-weight: bold; }
      &::after {
        content: ""; display: block; width: 1px;
        position: absolute; top: 12px; bottom: 12px; left: 0;
        background: #ddd;
      }
      &:first-child::after { display: none; }
    }
  }
}

#header {
  grid-area: header;
  display: flex; padding: 15px 0;

  .search-form {
    position: relative; margin: 14px 10px 14px 40px;

    input[type="text"] {
      padding: 0 38px 0 15px; width: 210px; height: 40px;
      border: 1px solid #cfd0d2; color: #888;
      font-family: Verdana, 나눔고딕, "Nanum", "Malgun Gothic", sans-serif;
      
      &:hover, &:focus { border-color: $color-bm-green; }
    }
    button[type="submit"] {
      position: absolute; top: 1px; right: 1px;
      background: url(/img/spr-search-icon.png) no-repeat center 0;
      width: 38px; height: 38px; border: none;
      text-indent: -3000px; cursor: pointer;

      &:hover, &:focus { background-position: center -38px; }
    }
  }

  .favorite-menu { 
    display: flex; margin: 0 0 0 auto;

    a {
      margin-left: 50px; padding: 10px 0; 
    }
  }
}

#gnb {
  grid-area: gnb; background: #483f35;


  .menu {
    display: flex;

    > li {
      flex-grow: 1; position: relative; padding: 5px 25px 0 0;

      > a {
        display: block; height: $gnb-height - 5px;
        line-height: $gnb-height - 5px;
        color: #fff; font-size: 16px;
        font-family: "NanumBold", 맑은고딕, "Malgun Gothic", sans-serif;
        text-align: center;
      
        &:focus {
          background: #fff; color: $color-bm-green;

          & + .sub-menu { display: block; }
        }
      }

      &.on,
      &:hover,
      &:focus {
        > a { background: #fff; color: $color-bm-green; }
        .sub-menu { display: block; }
      }
    }

    .sub-menu {
      display: none; position: absolute; left: -1px; top: $gnb-height;
      padding: 20px 0 31px; min-width: 162px; 
      border: 1px solid rgba(72,63,53,0.6); border-top: none;
      background: #fff;

      a {
        padding: 4px 25px; line-height: 1.4em;
        font-family: "Nanum", sans-serif; color: #555;
        font-size: 14px; text-align: left;

        &:hover {
          font-weight: bold;
          color: $color-bm-green; text-decoration: underline;
        }
      }
    }

    > li.brand {
      margin-left: 20px; padding-left: 20px; padding-right: 20px;
      background: #362d25;

      .sub-menu {
        left: auto; right: 0;
        a { text-align: right; }
      }
    }
  }
}


/**
 *  Main
 */

#main {
  display: grid;
  grid-template-columns: auto $main-width auto; 
  grid-template-rows: 420px 680px 670px 140px 670px 140px 670px;
  grid-template-areas:
    "main-visual main-visual main-visual"
    "best-seller best-seller best-seller"
    ". side-dish ."
    "banner-1 banner-1 banner-1"
    ". main-dish ."
    "banner-2 banner-2 banner-2"
    ". soup .";

  .inner-wrapper { padding: 0 10px; }
  .main-item { 
    padding: 0 10px;

    header { margin: 40px 0 27px; }
  }
  .sliding-list-section {
    header { margin: 70px 0 37px; }
  }
  
  // 개발용
  // background: rgba(15, 188, 200, 0.3);
  > section,
  > .banner,
  .inner-wrapper { 
    box-shadow: 0 0 10px rgba(15, 188, 200, 1);
  }
}

#main-visual {
  grid-area: main-visual;
}

#best-seller {
  grid-area: best-seller;
  background: #eee;
}

#side-dish {
  grid-area: side-dish;
}

.banner-1 {
  grid-area: banner-1;
}

#main-dish { 
  grid-area: main-dish;
}

.banner-2 {
  grid-area: banner-2;
}

#soup {
  grid-area: soup;
}


/**
 *  Footer
 */

#footer {
  // 개발용
  background: rgba(235, 255, 122, 0.3);

  .cs-services {
    display: grid;
    grid-template-columns: auto 300px 404px 220px auto;
    grid-template-rows: 140px;
    grid-template-areas:
      ". quick-menu notice contact .";

    // 개발용
    > * { box-shadow : 0 0 10px rgba(235, 255, 122, 1); }
  }
  .quick-menu { grid-area: quick-menu; }
  .notice { grid-area: notice; }
  .contact { grid-area: contact; }

  .company {
    display: grid;
    grid-template-columns: auto $main-width auto;
    grid-template-rows: auto;
    position: relative;

    > * { grid-column: 2; }

    // 개발용
    > * { box-shadow : 0 0 10px rgba(235, 255, 122, 1); }
  }
  .menu {  }
  .information {  }
  .social { position: absolute; right: 0; top: 0; }
}

#scroll-btns {
  position: fixed; right: 40px; bottom: 60px; z-index: 1;

  button { font-size: 2em; }
}


/** ================================================
  ui template
================================================ */

/**
 *  아이콘류
 */

// 뱃지 - 이벤트특가, 베스트
// bullet-down-icon
.bm-icon {
  display: inline-block !important; margin: 0; padding: 0;
  // width: 10px; height: 10px;
  background-repeat: no-repeat; background-position: 0 0;
  font-style: normal; vertical-align: middle;

  &[class*="spr-bullet-arrow-down"] {
    background-image: url(/img/spr-bullet-arrow-down.png);
    width: 10px; height: 6px;
  
    &.black { background-position: -4px -4px; }
    &.green { background-position: -4px -18px; }
    &.white { background-position: -4px -32px; }
  }
  
  &[class*="badge-"] {
    padding: 0.4em 0.55em 0.3em;
    color: #fff; font-size: 11px;
  
    &.badge-event { background: #a974bf; }
    &.badge-best { background: #fa6565; }
  }
  
  &.btn-arrow-more {
    width: 6px; height: 12px;
    background-image: url(/img/btn-arrow-more.png);
    background-position: 0 0;
  }

  &.btn-txt-more {
    width: 48px; height: 22px;  
    background-image: url(/img/btn-txt-more.gif);
    background-position: 0 0;  
  }  
}

/**
 *  섬네일 박스
 * (사진, 사진호버오버레이, 타이틀, 디스크, (말줄임) 원래가격, 할인가격)
 */

.thumbnail-box {
  display: block;

  // 개발용
  box-shadow : 0 0 10px rgba(0, 0, 0, 0.4);

  .thumbnail {
    position: relative;

    img { width: 100%; }
    .badge-wrapper { position: absolute; left: 10px; bottom: 13px; }
    .overlay {
      opacity: 0;
      display: flex; flex-direction: column; align-items: center;
      justify-content: center;
      position: absolute; left: 0; right: 0; top: 0; bottom: 2px;
      background: rgba(0, 0, 0, 0.6);

      .txt {
        position: relative;
        line-height: 2.4;
        color: #fff; font-size: 20px; font-family: "NanumBold", sans-serif;
        
        &::after {
          content: ""; display: block; 
          position: absolute; left: 0; right: 0; top: 0;
          height: 1px; background: rgba(255,255,255,0.4);
        }
        &:first-child::after { display: none; }
      }
    }
  }

  .content {
    padding: 18px 20px 15px; height: 130px;

    * { text-align: center; }
    .title,
    .desc {
      text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
    }
    .title {
      color: #333; font-size: 17px;
      font-family: "NanumEB", "Malgun Gothic", sans-serif;
      letter-spacing: -0.07em;
    }
    .desc {
      margin-top: 6px;
      font-size: 13px; color: #666; letter-spacing: -0.07em;
    }
    .price-wrapper {
      margin-top: 8px;
       
      * { font-family: 'Montserrat', sans-serif; letter-spacing: -0.04em; }
      .original-price {
        text-decoration: line-through; color: #888; font-size: 14px;
      }
      .final-price {
        margin-left: 9px; font-size: 0;

        * { color: #2ac1bc; font-weight: bold; vertical-align: super; }
        .number { font-size: 26px; }
        .unit { margin-left: 2px; font-size: 14px; }
      }
    }
    .badge-wrapper { margin-top: 10px; }
  }

  &:hover, 
  &:focus {
    .thumbnail .overlay { opacity: 1; }
  }
}


/** 
 * 탭 
 * (디테일한 스타일은 밑에서 하고 구조같은 바뀌어도 변하지 않는 거만 쓰기)
 */

.tab-box {
  overflow: hidden;
  
  .tab-button-box {
    display: flex;
    margin-bottom: 23px;

    li {
      flex-grow: 1; height: 48px;

      a {
        display: block;
        margin-right: 1px; padding-top: 17px; height: 100%;
        background: #fff;
        font-size: 15px; font-family: "NanumBold", sans-serif;
      }

      &.on,
      &:hover {
        a {
          margin-right: 0; padding-right: 1px;
          background: $color-bm-green; color: #fff;
        }
      }
    }
  }

  .tab-list-box {
    display: flex;

    > li {  }
  }

  .tab-list {
    display: grid;
    grid-template-columns: 304px 304px 304px;
    grid-column-gap: 24px;
  
    > li {
      overflow: hidden;
      text-overflow: ellipsis;

      // 개발용
      box-shadow : 0 0 10px rgba(0, 0, 0, 0.4);
    }
  }

  // .thumbnail-box 커스텀
  .content {
    height: 126px; background: #fff; text-align: left;

    * { text-align: left; }
    .price-wrapper { margin-top: 20px; text-align: right; }
  }
}


/**
 * 슬라이딩 리스트 박스
 * (화살표, 메뉴아이템 레이아웃, 슬라이딩구조)
 */

.sliding-list-box-wrapper {
  overflow: hidden;

  ul.sliding-list-box {
    display: flex;

    > li {  }
  }

  ul.sliding-list {
    display: grid;
    grid-template-columns: 215px 215px 215px 215px;
    grid-column-gap: 30px;
    padding: 0 5px;

    > li {  }
  }

  // .thumbnail-box 커스텀
  .thumbnail {
    border-radius: 500px;
    overflow: hidden;
  }
}


/**
 *  기타
 */

// 이미지 헤더
.image-type-text {  }




/** ================================================
  page - main
================================================ */


#main {
  text-align: center;
}

.sliding-list-section {
  
  header {
    text-align: center; font-size: 11px;
  }
  
  .sliding-list-box-wrapper {
    
  }

  .more {
    display: block; padding: 10px;
    border: 1px solid black; text-align: center;
  }
}

#best-seller { 
  // background: #eee;
}



