@charset "utf-8";

/** ================================================
  page - main
================================================ */

// 메인페이지 공통

#main {
  text-align: center; overflow: hidden;


  .sliding-list-section {
    header { text-align: center; font-size: 11px; }

    .more {
      display: block; margin: 38px auto 0; padding: 16px 10px 17px;
      border: 1px solid #d7d7d7;
      font-size: 15px; text-align: center; color: #444;
      
      i { margin-left: 0.2em; }
      &:hover, &:focus { border-color: #b4b4b4; color: #000; }
    }
  } 
  
  
  /* 배너 */

  .banner {
    background-repeat: no-repeat;
    background-position: center center;
    
    a {
      display: block; margin: 0 auto; width: $main-width; height: 100%;
      font-size: 0;
    }
  }
  .banner-1 { 
    background-image: url(../../img/img-banner-01.jpg);
    background-color: #e6dcd2;
  }
  
  .banner-2 { 
    background-image: url(../../img/img-banner-02.jpg);
    background-color: #dad8d3;
  }
}

// 비주얼 슬라이드 섹션

#main-visual {
  position: relative;

  .img-box {
    position: absolute; left: 0; right: 0; top: 0; bottom: 0;

    a { display: block; margin: 0 auto; width: $main-width; height: 100%; }
    .img-item {
      position: absolute; left: 0; right: 0; top: 0; bottom: 0;
      background-repeat: no-repeat; background-size: cover;
      background-position: center center;
    }
    .img-1 { background-image: url(../../img/img-main-visual-slide_1.jpg); }
    .img-2 { background-image: url(../../img/img-main-visual-slide_2.jpg); }
    .img-3 { background-image: url(../../img/img-main-visual-slide_3.jpg); }
    .img-4 { background-image: url(../../img/img-main-visual-slide_4.jpg); }
    .img-5 { background-image: url(../../img/img-main-visual-slide_5.jpg); }

    &[data-animation-type="css"] {
      .img-item {
        transform: translateX(100%); opacity: 0; z-index: -1;
      }

      .prev,
      .next { // fade out
        transform: translateX(0);
        transition: opacity 0.6s; 
      }
      .current { // fade in
        transform: translateX(0); opacity: 1; z-index: 0;
        transition: opacity 0.8s;
      }
    }
  }

  .direction-btn-box {
    position: absolute; left: 0; right: 0; top: 0; bottom: 0;
    margin: 0 auto; width: $main-width; height: 100%;

    .prev { position: absolute; left: -80px; top: 50%; transform: translateY(-50%); }
    .next { position: absolute; right: -80px; top: 50%; transform: translateY(-50%); }
  }

  .dot-btn-box {
    position: absolute; left: 50%; bottom: 15px;
    transform: translateX(-50%);
    z-index: 0;

    .dot {
      margin: 0 4px; display: inline-block; width: 10px; height: 10px;
      border-radius: 100px; box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
      background: rgba(255,255,255,0.6);

      &.on { background: rgba(255,255,255,1); }
    }
  }
}


